<h1>Welcome to the South East Asia Divers Forum</h1>

<p>
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>
</p>

<% unless Rails.env.production? %>
  <p>You can now:</p>

  <ul>
    <li>
      <p>
        <b><%= link_to 'Log in', new_user_session_path %></b> as
        <code>admin@seadiver.com</code>
        with password <code>00000000</code>.
      </p>
    </li>
    <li>
      <p>Edit this page at <code>app/views/home/show.html.erb</code>.</p>
    </li>
  </ul>

  <hr>
  <p>Your forum uses:</p>
  <ul>
    <li><%= ActiveRecord::Base.connection.adapter_name %> database.</li>
   
  </ul>


<% end %>
